$black: #151317;
$purple: #512689;

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.list {
  display: grid;
  gap: 20px;
  justify-items: center;
  animation: 2s show ease;
}

.card {
  position: relative;
  padding: 36px;
  padding-bottom: 64px;
  max-width: 400px;
  min-width: 280px;
  box-shadow: 0px 0.996045px 3.98418px rgba(51, 51, 51, 0.15);
  border-radius: 10px;
}

.like {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #F8F8F8;
  svg {
    display: block;
    path {
      transition-property: fill, stroke;
      transition-duration: .3s;
      transition-timing-function: ease;
    }
  }
}

.like[datatype='liked'] {
  svg {
    path {
      stroke: $purple;
      fill: $purple;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7px 15px;
  border: 1px solid $black;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  transition-property: border-color, color;
  transition-duration: .3s;
  transition-timing-function: ease;
  svg path {
    transition: fill .3s ease;
  }
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}



@media(min-width: 768px) {
  .wrap {
    gap: 56px;
  }
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: stretch;
  }
  .card {
    max-width: 100%;
    min-width: 305px;
  }
  .like {
    &:hover {
      svg {
        path {
          stroke: $purple;
        }
      }
    }
  }
  .btn {
    &:hover {
      border-color: $purple;
      color: $purple;
      svg path {
        fill: $purple;
      }
    }
  }
}

@media(min-width: 1280px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
  }
  .card {
    min-width: auto;
  }
}